.w-43 {
  width: 43%;
}

.w-45 {
  width: 45%
}

.w-40 {
  width: 40%;
}

.display-5 {
  font-size: 2.5rem;
}

.display-6 {
  font-size: 2rem;
}

.display-7 {
  font-size: 1.75rem;
}

.display-8 {
  font-size: 1.5rem;
}

.display-9 {
  font-size: 1.25rem;
}

.display-10 {
  font-size: 1rem;
}

.rounded-left-1 {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.rounded-left-1-5 {
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}

.rounded-left-2 {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

.rounded-right-1 {
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.rounded-right-1-5 {
    border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.rounded-right-2 {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

.flashcardset-list {
  animation: 1s ease-in 0s 1 fade-in;
}

.flashcardset-list-container {
  animation: 1s ease-in 0s 1 fade-in;
}

.flashcardset-memorize-container {
  animation: 1s ease-in 0s 1 fade-in;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.table-hover tr:hover{
filter: brightness(90%);
}

.centered {
  position: absolute;
  transform: translate(-50%, -50%);
}

.p-2rem {
  padding: 2rem;
}

:root {
  --backgroundColor: #21252e;
  --firstColor: #ffa719;
  --secondColor: #e56660;
  --thirdColor: #b94a53;
  --fourthColor: #724e94;
  --fifthColor: #77c42b;
  --sixthColor: #15c583;
}

.memorize-container {
  display: flex;
  width: 100%;
  height: 480px;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.memorize-card .front {
  position: absolute;
  backface-visibility: hidden;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: sans-serif;
}

.memorize-card .back  {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  position: absolute;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: sans-serif;
}


.memorize-card {
  display: flex;
  position: absolute;
  width: 55%;
  height: 60%;
  box-shadow: 0 0 2px 0 #000;
  border-radius: 8px;
  transition: all .3s ease-out;
  transform-style: preserve-3d;
  margin-bottom: 50px;
}



.first, .second, .third, .fourth, .fifth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: sans-serif;
  color: var(--backgroundColor);



}

.first {
  z-index: 5;
}

.second {
 z-index: 4;
 transform: translate(10px, 10px);
}

.third {
  z-index: 3;
  transform: translate(20px, 20px);
}

.fourth {
  z-index: 2;
  transform: translate(30px, 30px);
}

.fifth {
  z-index: 1;
  transform: translate(40px, 40px);
}

.first-color {
  background-color: var(--firstColor);
}

.second-color {
  background-color: var(--secondColor);
}

.third-color {
  background-color: var(--thirdColor);
}

.fourth-color {
  background-color: var(--fourthColor);
}

.fifth-color {
  background-color: var(--fifthColor);
}

.sixth-color {
  background-color: var(--sixthColor);
}


.flashcard-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.memorize-answer-container {
  height: 50%;
  display: flex;
}
.memorize-answer-text {
  align-items: end;
  display: flex;
}

.flipped {
transform: perspective(800px) rotateY(180deg) !important;
}

.flashcards-progress-bar-container {
  transform: translate(0, -365px);
  height: 25px;
  width: 80%;
  border-radius: 50px;
  background-color: #e0e0de;
}

.flashcards-progress-bar-filler {
  border-radius: inherit;
  text-align: right;
  background-color: #ffa719;
  height: 100%;
  transition: width 0.8s ease-in-out;
}

.flashcards-progress-bar-text{
  padding: 5px;
  font-weight: bold;
  white-space: nowrap;
}

.memorize-start-again {
  position: absolute;
}

.memorize-options {
  transform: translate(0, -385px);
}

input:focus{
  outline: none;
}

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;
  outline: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 1px solid black;
  padding: 1rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 1 / 1;
}

@media (max-width: 700px) {
  .memorize-card {
  width: 70%;
  height: 190px;
  }
  .memorize-container {
    height: 250px;
  }
  .first, .second, .third, .fourth, .fifth {
    font-size: 1.5rem;
  }
  .flashcards-progress-bar-container {
    transform: translate(0, -125px);
  }
}
